{{!-- //--------HBS CREATE.HBS------- --}}
<h2>Create a new post</h2>

<form action="create" method="POST">
  <label> NFT Title:
    <input type="text" name="nftTitle" style="border: 20px, solid, black, ;"/>
  </label>
  <br>

  <label> ImageURL:
    <input type="text" name="nftImage"/>
  </label>
    <br>
   <label> Price:
    <input type="number" name="nftPrice"/>
  </label>
  <br>


  <label for="nftUsername-select"> Created by:
    <select name="nftUsername">
      <option disable selected value=""></option>
      {{#each data}}
        <option value="{{this._id}}"> {{this.userName}} </option>
      {{/each}}
     
    </select>
  </label>
  <br>


  <button type="submit"> Create the post </button>
</form>