{{!-- hbs my-nft.hbs --}}

{{!-- {{#each data}} --}}

<span class="flex flex-row flex-wrap inline-block m-14 max-w-sm rounded overflow-hidden shadow-lg">
<div>
    {{#each data.nft}}
        {{> mynftspart this}}
    {{/each}}
</div>
</span>
